<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="src.main.resources.mappers.StudioMapper">
    <resultMap id="studio" type="com.solvd.model.Studio">
        <id property="id" column="studio_id"/>
        <result property="name" column="studio_name"/>
        <result property="photostudioId" column="studio_ph_st_id"/>
        <result property="price" column="studio_price"/>
    </resultMap>
    <select id="getById" parameterType="int" resultMap="studio">
        SELECT * FROM studio WHERE studio_id=#{id}
    </select>
    <select id="getAll" resultMap="studio">
        SELECT * FROM studio
    </select>
    <insert id="add">
        INSERT INTO studio(studio_name, studio_ph_st_id, studio_price) VALUES (#{name}, #{photostudioId}, #{price})
    </insert>
    <update id="update">
        UPDATE studio SET studio_name=#{name}, studio_ph_st_id=#{photostudioId}, studio_price=#{price} WHERE studio_id=#{id}
    </update>
    <delete id="delete">
        DELETE FROM studio WHERE studio_id=#{id}
    </delete>
</mapper>
